* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #606060;
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: Montserrat, sans-serif;
}

input {
    background-color: #333333;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

input::-moz-placeholder { 
    color:#fff;
}

button {
    padding: 5px;
    margin: 0 5px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
    border-radius: 20px;
}

h2, label, p, ol {
    color: #fff;
    user-select: none;
}

li {
    display: flex;
    justify-content: space-between;
}

li button {
    margin-right: 5px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

#square {
    position: fixed;
    top: 20px;
    right: 20px;
    width: auto;
    height: 36px;
    border: 2px solid transparent;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: block !important;
}

#square p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hidden {
    visibility: hidden;
    animation: fadeInOut 0.5s ease-in-out forwards;
}


@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

.success {
    background-color: green;
}

.error {
    background-color: red !important;
    border-color: darkred !important;
}
