* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: Montserrat, sans-serif;
}

input {
    background-color: #333333;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

input::-moz-placeholder { 
    color:#fff;
}

button {
    padding: 5px;
    margin: 0 5px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
    border-radius: 20px;
}

h2, label, p, ol {
    color: #fff;
    user-select: none;
}

li {
    display: flex;
    justify-content: space-between;
}

li button {
    margin-right: 5px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}