<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение задачи</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h2>изменить задачу</h2>
    <form method="POST" action="/edit_task/{{ task.id }}">
        <input type="text" id="content" name="content" value="{{ task.content }}" required>
        <button type="submit">Сохранить изменения</button>
    </form>
    <a href="/tasks"><button>Отменить изменения</button></a>
</body>
</html>