<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <form method="POST" action="/register">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required>
        {% if 'register' in request.path %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div>
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        {% endif %}
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Зарегистрироваться</button>
        <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a></p>
    </form>
</body>
</html>
